// This applies to mobile devices
.items-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    img {
        width: 80vw;
        margin: 20px;
    }
}
// This style applies to devices with 600px and greater
@media screen and (min-width: 600px) {
    .items-selection {
        flex-direction: row;
    }
    img {
        width: 300px;
    }
}
@media screen and (max-width: 600px) {
    .items-selection {
        flex-direction: row;
    }
    img {
        width: 80vw;
    }
}
